# Análisis Visual
En esta parte del proyecto se realizarán varias gráficas de la base de datos con el objetivo de mejor la visualización y presentación de los datos.

## Carga de la Base de Datos
A partir de esta actividad, se decidió eliminar una de las columnas del documento *csv* por no tener datos completos.

In [10]:
import pandas as pd
df = pd.read_csv('../Laboratorio_A01706695/archive/cwurData.csv')
df

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,18,85.21,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,871,44.03,2015
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,824,44.03,2015
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,547,44.02,2015

## Exploración de datos
Similar al trabajo anterior, esta exploración nos permite conocer más acerca del tipo de datos con los que se pueden trabajar

### Uso de .info()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   world_rank            2200 non-null   int64
 1   institution           2200 non-null   object
 2   country               2200 non-null   object
 3   national_rank         2200 non-null   int64
 4   quality_of_education  2200 non-null   int64
 5   alumni_employment     2200 non-null   int64
 6   quality_of_faculty    2200 non-null   int64
 7   publications          2200 non-null   int64
 8   influence             2200 non-null   int64
 9   citations             2200 non-null   int64
 10  patents               2200 non-null   int64
 11  score                 2200 non-null   float64
 12  year                  2200 non-null   int64
dtypes: float64(1), int64(10), object(2)
memory usage: 223.6+ KB

Gracias a esta función, se pueden observar las columnas, la cantidad y el tipo de datos que nuestra base de datos posee.   
Este análisis muestra que la mayoría de los datos presentes son de tipo **entero**; se poseen dos datos del tipo **objeto** para las columnas de *institution* y *country*, con la elmiminación de una columna, ahora solamente hay una columna con datos de tipo **flotante** para la categoría *score*.

### Uso de .count()

Lo siguiente muestra la cantidad de valores que hay para comprobar si hay *valores vacíos*.

In [12]:
df.count()

world_rank              2200
institution             2200
country                 2200
national_rank           2200
quality_of_education    2200
alumni_employment       2200
quality_of_faculty      2200
publications            2200
influence               2200
citations               2200
patents                 2200
score                   2200
year                    2200
dtype: int64

### Uso de len()

In [13]:
len(df)

2200

Con esta función también se observa la cantidad de datos que se poseen.